<h1>Welcome to MMORPS</h1>

<%= current_result unless current_result.nil? %>

<ul>
  <li>Player Score: <%= player_score.to_s %></li>
  <li>Computer Score: <%= computer_score.to_s %></li>
</ul>
<% if winner.nil? %>
<%="<form action='/' method='post'>
  <input type='radio' name='rps' value='r'> Rock
  <input type='radio' name='rps' value='p'> Paper
  <input type='radio' name='rps' value='s'> Scissors
  <input type='submit' value='Go!'>
</form>" %>
<% end %>

<% if winner == true %>
<%="<form action='/reset' method='post'>
  <input type='submit' value='Play again'>
</form>"%>
<% end %>
